@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap");

$primary-font: "Radio Canada", sans-serif;
$secondary-font: "Quicksand", sans-serif;

body {
  padding: 0;
  color: black;
  font-family: "Quicksand", sans-serif;
}
h1 {
  margin-left: 1rem;
}
.titre {
  font-family: "Radio Canada", sans-serif;
}

.PopularContainer {
  display: flex;
  margin-bottom: 3rem;
  border: 0.2rem solid white;
  border-radius: 1rem;
  max-width: 65vw;
  height: 46vw;
  box-shadow: 6px 5px 5px #b6b1b1;
  margin-left: 10rem;
}
.CardsContainer {
  width: 40vw;
}
.ImgPays {
  width: 38vw;
  margin: 3rem 0.7rem 0.7rem 0.7rem;
  border-radius: 2rem;
  height: 28vw;
}

.desc {
  margin-left: 2rem;
  margin-bottom: 1rem;
}
.pays {
  font-size: 1.3rem;
}

.ville {
  margin-top: 2.5rem;
  text-decoration: underline;
}

.favoris {
  margin-top: 2.5rem;
}

.button {
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 2rem;
  height: 5vh;
}
.button_hearth {
  margin-left: 1.3rem;
  cursor: pointer;
}

.text {
  font-size: 15px;
}

.hearth {
  width: 5vw;
}
