:root {
  --color-1: #04adbf;
  --color-2: #04bfbf;
  --color-3: #025959;
  --color-4: #a0a603;
  --color-5: #f2e0c9;
  --font-family-1: "Quicksand";
  --font-family-2: "Radio Canada";
}

* {
  font-family: var(--font-family-1);
}

@media screen and (min-width: 992px) {
  .modal-container {
    padding: 80px;
    background: linear-gradient(to right, var(--color-5), var(--color-2));
  }
}

.modal-header {
  background-image: url("src/assets/images/Mexico.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 60vw;
}

.arrow-container {
  display: flex;
  justify-content: flex-start;
}

.arrow {
  cursor: pointer;
}

.modal-content {
  background-color: white;
  border-radius: 20px 20px 0 0;
  margin-top: -15px;
}

.modal-content-header {
  margin: auto 5vw auto 5vw;
}

.modal-content-header-heart {
  display: flex;
  justify-content: space-between;
  margin-bottom: -30px;
}

.countryH1 {
  color: var(--color-3);
}

.heart {
  cursor: pointer;
  opacity: 0.6;
}

.modal-content-weather {
  margin: auto 5vw auto 5vw;
}

.weather-first-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.weather-info {
  font-weight: bold;
  font-size: 1.2rem;
}

.weather-second-block {
  display: flex;
  justify-content: space-around;
}

.modal-content-converter {
  margin: auto 5vw auto 5vw;
}

.button-convert {
  padding: 5px 30px;
  border-radius: 10px;
  background: linear-gradient(to right, var(--color-2), var(--color-3));
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

.amount-result {
  font-weight: bolder;
  font-size: 1.1rem;
}

.modal-content-holidays {
  margin: auto 5vw auto 5vw;
}
