.footer {
  border-radius: 15px 15px 0 0;
  width: 100%;
  background: linear-gradient(90deg, #04adbf, #04bfbf, #025959);
  color: #fff;
  padding: 20px;
  text-align: center;
  position: absolute;
}

.footer-content {
  font-family: "Quicksand", sans-serif;
  height: 100%;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.logo {
  display: none;
}

.logo {
  display: none;
}

@media screen and (min-width: 576px) {
  .logo {
    width: 7rem;
    position: absolute;
    right: 40px;
  }
}
